.header {
    background-color: #040404;
    height: 72px;
    color: #ea26ad;
    font-family: sans-serif;
    top: 0;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    .search {
        float: right;
        margin: 25px;
        input {
            padding-right: 30px;
        }
        svg {
            position: absolute;
            right: 0px;
            padding: 3px 28px 0 0;
            pointer-events: none;
        }
    }
}

.title {
    margin: 18px;
    margin-left: 28px;
    font-size: 30px;
    font-family: monospace;
}

.menu {
    color: #ea26ad;
    font-family: sans-serif;
    width: auto;
    position: relative;
    ul {
        list-style-type: none;
        text-align: center;
        padding: 10px;
    }
    li {
        display: inline;
        padding: 24px;
        border-right: 1px solid #ea26ad;
        border-radius: 20px;
        &:hover {
            color: #7d2dc1;
            border-right: 1px solid #7d2dc1;
        }
        &.active {
            color: #9f7abf;
            border-right: 1px solid #9f7abf;
        }
    }
}